<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247041905668-8ckedqk77r8kliun76j1bf2kr5l599b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247041905668-8ckedqk77r8kliun76j1bf2kr5l599b7</string>
	<key>API_KEY</key>
	<string>AIzaSyDz6ez5dkSMCG31BGFCCqGZR7wGL7HT9RE</string>
	<key>GCM_SENDER_ID</key>
	<string>247041905668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.nur.pay.nurPay</string>
	<key>PROJECT_ID</key>
	<string>nur-pay-680cd</string>
	<key>STORAGE_BUCKET</key>
	<string>nur-pay-680cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247041905668:ios:b896ccc7f1afe77632d151</string>
</dict>
</plist>